<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rooms.css') }}">
</head>
<body>
    <main>
        <div id="sidebar" style="transform: translateX(100%);">
            <div id="sidebar-content">
                
            </div>
            <div id="sidebar-button" class="sidebar-button">
                &lt;
            </div>
        </div>
        <div id="game-container">
            <div id="game-settings">
                <div id="game-settings-form">
                    <h3>Game Settings</h3>
                    <label for="deck-size">Deck Size:</label>
                    <select id="deck-size" name="deck_size">
                        <option value="standard">Standard</option>
                        <option value="jumbo">Jumbo</option>
                    </select>
                    <br>
                    <label for="points-to-lose">Points to Lose:</label>
                    <input style="width: 92%;" type="number" id="points-to-lose" name="points_to_lose" min="1" value="500">
                    <button id="start-game">Start</button>
                </div>
            </div>
        </div>
            <button id="next-round" style="display: none; z-index: 100; position: absolute;">Next Round</button>
            </div>
            <div id="player-container"></div>
            <div id="game-info">
                <p id="top-card"></p>
            </div>
            <div id="player-controls">
                <div id="player-hand">
                    <div id="hand-cards">
                        
                    </div>
                </div>
                <div id="action-buttons">
                    <button id="draw-card-button" class="action-button">Draw Card</button>
                    <button id="play-card-button" class="action-button">Play Card</button>
                </div>
            </div>
        </div>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    </main>
</body>
</html>